{% macro nav_bar() %}
<nav class="navbar">
  <div class="logo">Gentle Soul Caregiving</div>
  <ul class="nav-links">
    <li><a href="/" class="nav-link">Home</a></li>
    <li><a href="/about" class="nav-link">About Us</a></li>
    <li><a href="/services" class="nav-link">Services</a></li>
    <li><a href="/contact" class="nav-link">Contact Us</a></li>
    <li><a href="/pricing" class="nav-link">Pricing</a></li>
   <li><a href="/resources_education" class="nav-link">Resources & Education</a></li>
 </ul>
</nav>
<style>
  .navbar {
    background-color: #1a202c; /* Updated to match the About Us page */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
  }
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-right: 20px;
  }
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .nav-link {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    transition: color 0.2s ease;
  }
  .nav-link:hover {
    color: #ccc;
  }
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: center;
    }
    .logo {
      margin-bottom: 20px;
    }
    .nav-links {
      flex-direction: column;
      align-items: center;
    }
    .nav-link {
      margin-bottom: 20px;
    }
  }
</style>
{% endmacro %}