@import "tailwindcss";

@theme {
  --font-sans: "Karla", sans-serif;
  --font-serif: "Playfair Display", serif;

  --color-primary: #cdb4db;
  --color-accent: #c3e2c2;
  --color-neutral: #fff9f2;
  --color-action: #2f4a7f;

  --spacing-8: 8px;
}

body {
  background-color: var(--color-neutral);
  color: var(--color-action);
  font-family: var(--font-sans);
  line-height: 1.45rem;
  max-width: 65ch;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
  letter-spacing: 1.25em;
}
